<main role='main'>
<div class="container">
  <h1 class='display-4'>The world through my eyes</h1>

      <div class="row">
        <div class="col-xs-6 col-lg-6">
          <div class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="900">
              <%= image_tag 'landscapes/landscape (1)', width:450, height:300 %>
            </div>
            <div class="carousel-item" data-interval="900">
              <%= image_tag 'landscapes/landscape (2)', width:450, height:300 %>
            </div>
            <div class="carousel-item" data-interval="900">
              <%= image_tag 'landscapes/landscape (3)', width:450, height:300 %>
            </div>
            <div class="carousel-item" data-interval="900">
              <%= image_tag 'landscapes/landscape (4)', width:450, height:300 %>
            </div>
            <div class="carousel-item" data-interval="900">
              <%= image_tag 'landscapes/landscape (5)', width:450, height:300 %>
            </div>
            <div class="carousel-item" data-interval="900">
              <%= image_tag 'landscapes/landscape (6)', width:450, height:300 %>
            </div>
            <div class="carousel-item" data-interval="900">
              <%= image_tag 'landscapes/landscape (7)', width:450, height:300 %>
            </div>
          </div>
          </div>
        </div>
        <div class="col-xs-6 col-lg-6">
          <div class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="900">
              <%= image_tag 'landscapes/landscape (1)', width:450, height:300 %>
            </div>
            <div class="carousel-item" data-interval="900">
              <%= image_tag 'landscapes/landscape (2)', width:450, height:300 %>
            </div>
            <div class="carousel-item" data-interval="900">
              <%= image_tag 'landscapes/landscape (3)', width:450, height:300 %>
            </div>
            <div class="carousel-item" data-interval="900">
              <%= image_tag 'landscapes/landscape (4)', width:450, height:300 %>
            </div>
            <div class="carousel-item" data-interval="900">
              <%= image_tag 'landscapes/landscape (5)', width:450, height:300 %>
            </div>
            <div class="carousel-item" data-interval="900">
              <%= image_tag 'landscapes/landscape (6)', width:450, height:300 %>
            </div>
            <div class="carousel-item" data-interval="900">
              <%= image_tag 'landscapes/landscape (7)', width:450, height:300 %>
            </div>
          </div>
        </div>
        </div>
        </div>
        <div class='row'>
          <div class="col-xs-6 col-lg-6">
            <div class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="900">
                <%= image_tag 'landscapes/landscape (1)', width:450, height:300 %>
              </div>
              <div class="carousel-item" data-interval="900">
                <%= image_tag 'landscapes/landscape (2)', width:450, height:300 %>
              </div>
              <div class="carousel-item" data-interval="900">
                <%= image_tag 'landscapes/landscape (3)', width:450, height:300 %>
              </div>
              <div class="carousel-item" data-interval="900">
                <%= image_tag 'landscapes/landscape (4)', width:450, height:300 %>
              </div>
              <div class="carousel-item" data-interval="900">
                <%= image_tag 'landscapes/landscape (5)', width:450, height:300 %>
              </div>
              <div class="carousel-item" data-interval="900">
                <%= image_tag 'landscapes/landscape (6)', width:450, height:300 %>
              </div>
              <div class="carousel-item" data-interval="900">
                <%= image_tag 'landscapes/landscape (7)', width:450, height:300 %>
              </div>
            </div>
          </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <div class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="900">
                <%= image_tag 'landscapes/landscape (1)', width:450, height:300 %>
              </div>
              <div class="carousel-item" data-interval="900">
                <%= image_tag 'landscapes/landscape (2)', width:450, height:300 %>
              </div>
              <div class="carousel-item" data-interval="900">
                <%= image_tag 'landscapes/landscape (3)', width:450, height:300 %>
              </div>
              <div class="carousel-item" data-interval="900">
                <%= image_tag 'landscapes/landscape (4)', width:450, height:300 %>
              </div>
              <div class="carousel-item" data-interval="900">
                <%= image_tag 'landscapes/landscape (5)', width:450, height:300 %>
              </div>
              <div class="carousel-item" data-interval="900">
                <%= image_tag 'landscapes/landscape (6)', width:450, height:300 %>
              </div>
              <div class="carousel-item" data-interval="900">
                <%= image_tag 'landscapes/landscape (7)', width:450, height:300 %>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
</main>

    <!-- <div class='navbar-brand'>

      < %= link_to "Katalin's Photography", root_path, class:'logo' %>

    </div>
    <div class="menu-list">
      <ul class="nav">
        <li class="nav-item">< %= link_to 'Landscape', landscapes_path, class: 'nav-link' %></li>
        <li class="nav-item">< %= link_to 'Animals', animals_path, class: 'nav-link' %></li>
        <li class="nav-item">< %= link_to 'Birds', birds_path, class: 'nav-link' %></li>
        <li class="nav-item">< %= link_to 'Macro', macros_path, class: 'nav-link' %></li>
        <li class="nav-item">< %= link_to 'Cart', landscapes_path, class: 'nav-link' %></li>
        <li class="nav-item">< %= link_to 'Checkout', macros_path, class: 'nav-link' %></li>
      </ul>
    </div>

    <div class="overlay"></div>
      < %= image_tag 'firework', style:"backface-visibility: hidden; position: absolute;
      left: -383px; top: 0px; z-index: -1; max-width: none; height: 1298px; width: 3800px;" %> -->
