<nav class="navbar transparent justify-content-center navbar-fixed-top navbar-expand-sm">
  <%= image_tag("logo.png", size:"30x35", :alt => "owl logo", class: "logo") %>
  <%= link_to "KA's shots", root_path, class:'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to 'Landscape', landscapes_path, class: 'nav-link' %>
      <%= link_to 'Animals', animals_path, class: 'nav-link' %>
      <%= link_to 'Macro', macros_path, class: 'nav-link' %>
      <%= link_to 'Birds', birds_path, class: 'nav-link' %>
    </div>
  </div>
</nav>

 <!-- #pull-right ass a class in a container with, for ex elements of the navbar, pulling them to the right -->
